<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dabinu.apps.models">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/theperfectlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.dabinu.apps.toolClasses.TheAlarmReceiverGuy"
            android:enabled="true" />

        <activity android:name="com.dabinu.apps.activities.NewField" />

        <activity
            android:name="com.dabinu.apps.activities.DisplayActivity"
            android:label="@string/title_activity_display"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>